[user]
	name = Danny Andrews
	email = lunde.andrews@gmail.com
[color]
	ui = true
[push]
	default = current
[alias]
  st = status -s -b
  di = diff
  co = checkout
  ci = commit
  br = branch
  pu = push -u
  l = log --color --pretty=format:'%h %an %s %ad'
  fixup = commit --amend
  refreshremotes = remote update origin --prune
  deleteremote = push origin --delete
  partialdiff = diff --color-words
  showconflicts = diff --name-only --diff-filter=U
[filter "media"]
	required = true
	clean = git media clean %f
	smudge = git media smudge %f
[filter "hawser"]
	clean = git hawser clean %f
	smudge = git hawser smudge %f
	required = true
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[merge]
	tool = opendiff
[core]
	autocrlf = input
  editor = sublime -n -w
